<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
<h1>Login</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at atque beatae dignissimos dolorum id, illo labore laborum magni minus molestiae nobis officiis repudiandae sit tempore vel voluptatum! Aliquam amet atque deleniti explicabo ipsum nam totam vero! Ab esse facere laboriosam, maxime nisi odit omnis. Culpa cumque deleniti impedit magni perspiciatis quia sequi veniam. Aliquam dolorem est explicabo fugiat laborum magnam numquam quae quam. Distinctio dolorum eius eos expedita iusto laudantium maiores minus nostrum obcaecati officia pariatur placeat, quasi reiciendis temporibus unde. Hic in iure nam natus nobis nostrum pariatur voluptate! Aperiam aut culpa debitis earum, eius, fugiat illum magni modi nesciunt quae, quas rerum similique ullam voluptates voluptatibus! Accusamus adipisci aliquid asperiores distinctio eveniet itaque non obcaecati voluptatem. At, autem beatae earum explicabo illum impedit itaque modi porro quam quas quis tempora velit vitae, voluptas voluptates! Adipisci consequuntur culpa cum facilis in itaque nulla perferendis placeat vero voluptates! A accusamus adipisci atque blanditiis cupiditate debitis deserunt dolore, dolorum esse excepturi expedita ipsa ipsam laboriosam maxime minima nam nulla odio perferendis, quos reiciendis repellat repudiandae, sunt suscipit temporibus ut velit vero. Adipisci corporis, eaque, excepturi facere fugit id iste iusto molestias nobis nulla quaerat, quam quia repellendus voluptas voluptatibus? Ex!</p>
</body>
</html>
